<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="kr.ac.jejunu.HelloImpl" name="hello"></bean>
    <bean class="kr.ac.jejunu.HelloPersonImpl" name="helloPerson">
        <property name="name" value="현승호"/>
        <property name="hello" ref="hello"/>
    </bean>
</beans>